<mat-card class="login-page">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form
      class="login-form data-form"
      #loginForm="ngForm"
      (ngSubmit)="login(loginForm, $event)"
    >
      <mat-form-field>
        <input
          matInput
          type="email"
          name="email"
          placeholder="Email"
          ngModel
          #email="ngModel"
          required
          minlength="3"
        />
        <mat-error *ngIf="email.errors?.required"
          >This field is mandatory</mat-error
        >
        <mat-error *ngIf="email.errors?.minlength"
          >This field must have minimum
          {{ email.errors?.minlength.requiredLength }} char and but it has only
          {{ email.errors?.minlength.actualLength }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="password"
          name="password"
          placeholder="Password"
          ngModel
          #pass="ngModel"
          passwardStrength
          required
          minlength="3"
        />
        <mat-error *ngIf="pass.errors?.required"
          >Password is mandatory</mat-error
        >
        <ng-container
          *ngIf="
            pass.errors | onlyOneError: ['minlength', 'passwordValid'] as error
          "
        >
          <mat-error *ngIf="error.passwordValid"
            >Password must contain at least Uppercase , LowerCase and Numeric
            part</mat-error
          >
          <mat-error *ngIf="error.minlength"
            >This field must have minimum
            {{ error.minlength.requiredLength }} char and but it has only
            {{ error.minlength.actualLength }}
          </mat-error>
        </ng-container>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Login
      </button>
    </form>
  </mat-card-content>
  <div class="Form-val">
    {{ pass.errors | onlyOneError: ["minlength", "passwordValid"] | json }}
    <!-- {{ pass.errors | json }} -->
  </div>
</mat-card>
